<% layout('layout/main') -%>
<% block('title', 'About') -%>

<div class="container">
  <br>
  <br>
  <h1 class="blog-heading top-m ">About Page</h1>

  <p class="w-75 mx-auto text-center">Hey there! Shreya here. Welcome to my blogging website! This is more than just a prototype; it's a journey into the world of sharing ideas, experiences, and knowledge through the power of blogging.</p>
<br>
  <h3 class="mt-4 mb-4">What's the Story Behind This Website?</h3>
  <p class="w-75 mx-auto ">This website was born out of my passion for technology and storytelling. It's a project aimed at understanding the intricacies of building a robust blogging platform while also honing my development skills.</p>

  <h3 class="mt-4 mb-4">More About Me</h3>
  <p class="w-75 mx-auto ">I'm a technology enthusiast and a lifelong learner. When I'm not coding, you can find me exploring new technologies, reading books, or simply enjoying a cup of coffee.</p>
</div>
